/*.brf
/*.prj
/*.aux
/*.bbl
/*.blg
/*.log
/*.pdf
/*.synctex
/*.tex.bak
/*.prj.bak
/*.synctex.gz
/*.bib.bak

# Victor's garbage collector
*.backup
*Thumbs.db
*~
*.brf
*.prj
*.aux
*.bbl
*.blg
*.log
*.pdf
*.synctex
*.tex.bak
*.prj.bak
*.synctex.gz
*.bib.bak
*.docx

